@model IEnumerable<AgriTech.Models.Planta>

@{
    ViewData["Title"] = "Plantas";
}

<div class="w-75 mx-auto">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create" class="btn btn-success float-end">Cadastrar</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-5">
                    @Html.DisplayNameFor(model => model.NomePopular)
                </th>
                <th class="col-5">
                    @Html.DisplayNameFor(model => model.NomeCientifico)
                </th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomePopular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeCientifico)
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes" style="margin-right:10px;"><i class="bi bi-eye text-black"></i></a>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" style="margin-right:10px;"><i class="bi bi-pencil text-black"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir"><i class="bi bi-trash text-black"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>