@model IEnumerable<AgriTech.Models.Plantacao>

@{

    ViewData["Title"] = "Plantação";
}

<div class="w-80 mx-auto min-vh-90">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create" class="btn btn-success float-end">Cadastrar</a>
    </p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.NomePlanta)
                </th>
                <th class="col-2 text-center">
                    @Html.DisplayNameFor(model => model.NomeCientifico)
                </th>
                <th class="col-2 text-center">
                    @Html.DisplayNameFor(model => model.DataPlantio)
                </th>
                <th class="col-2 text-center">
                    @Html.DisplayNameFor(model => model.DataGerminacao)
                </th>
                <th class="col-2 text-center">
                    @Html.DisplayNameFor(model => model.DataColheita)
                </th>
                <th class="col-2 text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlantaId)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.NomeCientifico)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DataPlantio)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DataGerminacao)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.DataColheita)
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" title="Detalhes" style="margin-right:10px;"><i class="bi bi-eye text-black"></i></a>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Editar" style="margin-right:10px;"><i class="bi bi-pencil text-black"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Excluir"><i class="bi bi-trash text-black"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>